{% extends "layout.html" %}
{% block title %}Restaurant Finder{% endblock %}
{% block content %}
    <h1>Find Restaurants</h1>
    <div id="map"></div>
    <form id="search-form">
        <input type="text" id="type" placeholder="Type (e.g., Italian, Chinese)">
        <input type="text" id="price" placeholder="Price Level (0-4)">
        <input type="text" id="rating" placeholder="Minimum Rating (1-5)">
        <input type="text" id="ambiance" placeholder="Ambiance">
        <input type="text" id="opening-times" placeholder="Opening Times">
        <button type="submit">Search</button>
    </form>
    <div id="results"></div>
{% endblock %}
